body {
    background-image: url('images/bg-crop.jpg');
    background-attachment: fixed !important;
    background-size: cover !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.search-bar {
    margin-top: 4px;
    margin-left: -11px;
    text-align: center;
}
.playlist-popup {
    position: absolute;
    top: 0;
    left: 0;
    text-size: 16px;
    z-index: 999;
}

.close-popup {
    color: red;
    font-size: 2em;
    float: right;
    z-index: 9999;
}
.close-popup:hover {
    cursor: pointer;
}
.playlist-list:hover {
    cursor: pointer;
}
.title {
    font-family: 'Pacifico', cursive;
    color: navy;
    font-weight: bolder;
    letter-spacing: 0px;
    font-size: 6em;
    text-shadow: 
        /*-1px -1px 0 #fff;
        1px -1px 0 #fff;
        -1px 1px 0 #fff;
        1px 1px 0 #fff;*/
        2px 2px 2px rgb(130,200,255);
}
#playlist-controls, #load-icon, #save-icon {
    color: black;
    margin: 0px;
    font-size: 1.8em;
    text-shadow: 2px 2px 10px grey;
    text-align: center;
}
#load-icon:hover, #save-icon:hover, #server-save-icon:hover {
    color: deepskyblue;
    text-shadow: 2px 2px 10px white;
    cursor: pointer;
}
.btn-search {
    background: #333;
    color: #fff;
    border: 1px solid #ccc;
    padding-bottom: 12px;
    font-weight: bold;
}
#playlist-title {
    text-decoration: underline;
    font-weight: bold;
    font-variant: small-caps;
}
#search-title {
    text-decoration: underline;
    font-weight: bold;
    font-variant: small-caps;
    margin-left: 15px;
}
.songs {
    margin-top: 30px;
    margin-bottom: 20px;
}
.song-container {
    min-height: 56px;
    padding: 0px;
    margin-top: 26px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
    border-color: #666;
    background-color: rgba(130,200,255,0.4);
    box-shadow: 2px 2px 10px grey;
}
.fav-container {
    min-height: 56px;
    padding: 0px;
    margin-top: 26px;
    margin-left: 24px;
    margin-right: 10px;
    border-radius: 6px;
    border-color: #666;
    background-color: rgba(200,122,180,0.4);
    box-shadow: 2px 2px 10px grey;
    cursor: move;
}
.fav-container:hover {
    background-color: rgba(200,122,180,0.6);
    box-shadow: 2px 2px 20px white;
    border-color: #000;
}
.my-tunes {
    margin-left: 10px;
    margin-right: 10px;
}
.song-container:hover {
    background-color: rgba(130,200,255,0.6);
    box-shadow: 2px 2px 20px white;
    border-color: #000;
}
.thumb {
    height: 60px;
    width: 60px;
    border-radius: 6px;
    float: left;
    margin: -11px 10px 0px -24px;
    padding: 0;
    box-shadow: 2px 2px 10px grey;
}
.img-icon {
    float: left;
    position: absolute;
    left: 8px;
    top: 6px;
    z-index: 500;
    font-size: 2em;
    color: #fff;
    opacity: 0;
    text-shadow:
        2px 2px 10px #000;
}
.img-icon:hover {
    opacity: 100;
    cursor: pointer;
}
.song-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 6px;
}
.artist-album {
    margin-top: -6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    margin-left: 3.3em;
    text-indent: 0em;
}
.album-name {
    font-style: italic;

}
.right-song-info {
    text-align: right;
    margin-top: 4px;
    margin-right: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*position: relative;*/
}
.fav-song-controls {
    text-align: right;
    margin-top: 4px;
    margin-right: 6px;
    font-size: 1.5em;
    height: 0px;
}
.fav-icons:hover {
    color: deepskyblue;
    cursor: pointer;
    text-shadow: 2px 2px 10px white;
}
.fav-icon {
    font-size: 1.5em;
    color: #000;
}
.fav-icon:hover {
    color: deeppink;
    cursor: pointer;
}
.play-icon, .play-icon a {
    font-size: 1.5em;
    color: #000;
}
.play-icon:hover {
    color: deeppink;
    cursor: pointer;
}
.play-icon:visited {
    color: #666;
}
.genre {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 4px;
    margin-top: 4px;
}
.price {
    margin-right: 4px;
    margin-top: 4px;
    /*position: absolute;
    bottom: -40;
    right: 12;*/
}

.price a {
    color: navy;
}

/*commented out section was meant to set price always bottom right*/